@import 'responsive';

.aboutBg {
    @include bgImgFixed('../img/Background/ABOUTBKGRD.jpeg');
}

@mixin bkgrdColor {
    background-color: rgba($color: #000000, $alpha: 0.8);
}


.aboutGrid {
    @include mobile {
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        margin: 4rem 10vw;
        grid-template-areas:
            "NAV      NAME"
            "TITLE      TITLE"
            "MISSION  MISSION"
            "CONTACT  CONTACT"
            "FOOT     FOOT"
    }

    color: whitesmoke;
    font-family: map-get($map: $mapFontFamily, $key: text);
    position: absolute;
    margin: 12rem 10vw;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(1rem, auto);
    grid-template-areas: "NAV NAV NAME"
    "TOP TOP TOP"
    "TITLE  IMAGE  MISSION"
    "TITLE  IMAGE  CONTACT"
    "FOOT FOOT FOOT"

}



.aboutNav {
    @include bkgrdColor;
    grid-area: NAV;
    display: flex;
    padding: 1.5rem;
    border-bottom: 2px solid $colorDivider;

    >a {
        text-decoration: none;
        color: white;
        font-size: 4rem
    }
}

.aboutName {
    @include bkgrdColor;
    grid-area: NAME;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    font-size: $fontMed;
    border-bottom: 2px solid $colorDivider;
}

.aboutTITLE {
    @include mobile {
        font-size: $fontXlg;
    }

    @include bkgrdColor;
    grid-area: TITLE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:map-get($map: $mapFontFamily, $key: TITLE); // mapping
    font-size: $fontXXlg;

}

.aboutImage {
    @include mobile {
        display: none;
    }

    grid-area: IMAGE;
    display: flex;
    font-size: $fontMed;
    background-color: none;
    justify-content: center;
    align-items: center;

    .box {
        width: 20rem;
        height: 20rem;
        background-color: transparent;
    }
}

.aboutMission {
    @include bkgrdColor;
    grid-area: MISSION;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2rem;
    gap: 1rem;
    text-align: left;
    font-size: $fontLg;
    font-weight: 100;
    font-family: map-get($map: $mapFontFamily, $key: mission);
}

.aboutContact {
    @include bkgrdColor;
    grid-area: CONTACT;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: $fontMed;
    padding-right: 2rem;
    >a {
        color: white;
        text-decoration: line;
        text-align: justify
    }
}

.about {
    &Top {
        @include mobile {
            display: none
        }

        @include bkgrdColor;
        grid-area: TOP;
        height: $fontMed;
        min-height: 100%;
        display:flex;
        padding: 1rem;
        gap: 2rem;
    }

    &Foot {
        @include bkgrdColor;
        grid-area: FOOT;
        height: $fontXXlg;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        padding: 2rem
    }

    ;
}

.box {
    z-index: 1;
    top: 0;
    height: 2rem;
    width: 2rem;

    &Red {
        @extend .box;
        background-color: red;
    }

    &White {
        @extend .box;
        background-color: white;
    }

    &Gold{
        @extend .box;
        background-color: rgb(255, 184, 28)
    }
    &Green{
        @extend .box;
        background-color: rgb(0, 119, 73)
    }

}