

.event {

    &Grid {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(6,1fr);
        height: 100vh;
        border: 1px dotted red;
        z-index: 999;
}
    &Bg {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background-image: url("../img/DID/bg.jpg");  
        background-size: cover;  
}
}




