@import 'variables';
@import 'responsive';

.home {
    @include mobile {
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: minmax(10px, auto); 
    grid-template-areas:  
    "HEAD  MENU"
    "MOTTO MOTTO"
    "UPCOMING  UPCOMING"
    "EVENT EVENT"
    "BODY  BODY"
    "FOOT  FOOT"
    };
    padding: 48px calc(100vw*0.1);
    display: grid;
    justify-content: space-between; 
    grid-auto-columns: 2fr 9fr 1fr;
    grid-auto-rows: minmax(10px, auto); 
    grid-template-areas:
    "HEAD     MOTTO MENU"
    "UPCOMING EVENT EVENT"
    "BODY     BODY  BODY"
    "FOOT     FOOT  FOOT"
}

.header {
    &__title {
        grid-area: HEAD;
        font-family: 'BEER02-A CROSS', sans-serif;                       
        font-size: $fontXlg;
        display: grid;

    }
    &__menu {
        grid-area: MENU;
        display: grid;
        align-self: end;
        text-align: left;
        font-family: 'Lymphatic', sans-serif;
        font-size: $fontLg;
        a, a:visited {
            text-decoration: none;
            color: $colorText;
        }
    }
    &__motto {
        grid-area: MOTTO;
        display: grid;
        font-size: $fontMed;
        color: $colorText;
        font-family: 'Lymphatic', sans-serif;
        align-self: end;
    }

}

.announcement {
    font-family: 'Lymphatic', sans-serif;
    font-size: $fontMed;
    text-decoration: none;
    &__upcoming {
        margin-top: 12px;
        @extend .announcement;
        grid-area: UPCOMING;
        color: $colorText;
        display: flex;
    }
    &__event {
        @extend .announcement;
        grid-area: EVENT;
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        flex-direction: row;
        margin: 12px;
        &__date {
            grid-area: EVENT;
            color: $colorEventDate;
            font-weight: bold;
            padding-left: 6px;
            border-left: 2px solid $colorDivider;
        }   
        &__title {
            text-decoration: none;
                color:$colorText;
        }
    }
}


.image {
    grid-area: BODY;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    img {
        object-fit: cover;
        width: calc(100vw/3);
        min-width: 300px;
        height: auto;
      }
}

a:hover {
        color: $colorHoverLink;
      }

