// Colors
// https://www.color-hex.com/color-palette/11166
$colorText: rgb(58,70,100);
$colorEventDate: rgb(234,160,162);
$colorDivider: rgba(170,170,170,0.25);
$colorGrayishBlue: hsl(233, 8%, 62%);
$colorLightGrayishBlue: hsl(220, 16%, 96%);
$colorVeryLightGray: hsl(0, 0%, 98%);
$colorWhite: hsl(0, 0%, 100%);
$colorRed:rgb(231,73,32);
$colorDarkRed:rgba(231,73,32,0.5);
$colorPrimary: black;
$colorAccent: orange;  
// Font Sizes
$fontSm: 0.5rem; 
$fontMed: 1rem; 
$fontLg: 1.5rem;
$fontXlg: 2.5rem;
$mapFontWeight:(
    "regular": 400,
    "medium": 500,
    "bold":700
);
$screenSizeMobile: 800px

 
