.testBox {
  width: 10rem;
  height: 10rem;
  border: 2px solid red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  color: rgb(58, 70, 100);
}

.testBox {
  width: 10rem;
  height: 10rem;
  border: 2px solid red;
}

.home {
  padding: 48px 10vw;
  display: grid;
  justify-content: space-between;
  grid-auto-columns: 3fr 1fr 15fr 3fr;
  grid-auto-rows: minmax(10px, auto);
  grid-template-areas: "HEAD     HEAD MOTTO MENU" "UPCOMING EVENT EVENT EVENT" "BODY     BODY BODY  BODY" "FOOT     FOOT FOOT  FOOT";
}
@media only screen and (max-width: 550px) {
  .home {
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas: "HEAD  MENU" "MOTTO MOTTO" "UPCOMING  UPCOMING" "EVENT EVENT" "BODY  BODY" "FOOT  FOOT";
  }
}

.header__title {
  grid-area: HEAD;
  font-family: Dear Dreamer;
  font-size: 4rem;
  display: flex;
  align-self: flex-end;
}
.header__menu {
  grid-area: MENU;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  font-family: Lymphatic;
  font-size: 2rem;
}
@media only screen and (max-width: 550px) {
  .header__menu {
    text-align: right;
    font-size: 1.5rem;
  }
}
.header__menu a, .header__menu a:visited {
  text-decoration: none;
  color: rgb(58, 70, 100);
}
.header__motto {
  grid-area: MOTTO;
  display: grid;
  font-size: 1.5rem;
  color: rgb(58, 70, 100);
  font-family: Lymphatic;
  align-self: flex-end;
  padding-bottom: 6px;
}
@media only screen and (max-width: 550px) {
  .header__motto {
    font-size: 1rem;
  }
}

.announcement, .announcement__event, .announcement__upcoming {
  font-family: Lymphatic;
  font-size: 1.5rem;
  text-decoration: none;
}
.announcement__upcoming {
  margin-top: 24px;
  grid-area: UPCOMING;
  color: rgb(58, 70, 100);
  display: flex;
  padding: 6px 0px;
  border-top: 2px solid rgba(170, 170, 170, 0.75);
  border-bottom: 2px solid rgba(170, 170, 170, 0.75);
}
.announcement__event {
  grid-area: EVENT;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  flex-direction: row;
  margin-top: 24px;
  padding: 6px;
  border-top: 2px solid rgba(170, 170, 170, 0.75);
  border-bottom: 2px solid rgba(170, 170, 170, 0.75);
}
@media only screen and (max-width: 550px) {
  .announcement__event {
    border-top: none;
    border-bottom: none;
  }
}
.announcement__event__date {
  grid-area: EVENT;
  color: rgb(218, 1, 102);
  font-weight: bold;
  padding-left: 6px;
}
.announcement__event__date:not(:first-child) {
  border-left: 2px solid rgba(170, 170, 170, 0.75);
}
.announcement__event__title {
  text-decoration: none;
  color: rgb(58, 70, 100);
}

.banner {
  margin-top: 4rem;
  grid-area: BODY;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
.banner__card {
  border-radius: 1rem;
  width: 70vw;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.banner__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.banner__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

a:hover {
  color: rgba(100, 81, 58, 0.5);
}

.aboutBg {
  background-image: url("../img/ABOUTBKGRD.jpeg");
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
}

.aboutGrid {
  color: whitesmoke;
  font-family: Lymphatic;
  position: absolute;
  margin: 12rem 10vw;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(1rem, auto);
  grid-template-areas: "NAV NAV NAME" "TOP TOP TOP" "TITLE  IMAGE  MISSION" "TITLE  IMAGE  CONTACT" "FOOT FOOT FOOT";
}
@media only screen and (max-width: 550px) {
  .aboutGrid {
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 4rem 10vw;
    grid-template-areas: "NAV      NAME" "TITLE      TITLE" "MISSION  MISSION" "CONTACT  CONTACT" "FOOT     FOOT";
  }
}

.aboutNav {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: NAV;
  display: flex;
  padding: 1.5rem;
  border-bottom: 2px solid rgba(170, 170, 170, 0.75);
}
.aboutNav > a {
  text-decoration: none;
  color: white;
  font-size: 4rem;
}

.aboutName {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: NAME;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(170, 170, 170, 0.75);
}

.aboutTITLE {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: TITLE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BEER02-A CROSS;
  font-size: 8rem;
}
@media only screen and (max-width: 550px) {
  .aboutTITLE {
    font-size: 4rem;
  }
}

.aboutImage {
  grid-area: IMAGE;
  display: flex;
  font-size: 1.5rem;
  background-color: none;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 550px) {
  .aboutImage {
    display: none;
  }
}
.aboutImage .box, .aboutImage .boxGreen, .aboutImage .boxGold, .aboutImage .boxWhite, .aboutImage .boxRed {
  width: 30rem;
  height: 30rem;
  background-color: transparent;
}

.aboutMission {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: MISSION;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 2rem;
  gap: 1rem;
  text-align: left;
  font-size: 2rem;
  font-weight: 100;
  font-family: Root Beer;
}

.aboutContact {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: CONTACT;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.5rem;
  padding-right: 2rem;
}
.aboutContact > a {
  color: white;
  -webkit-text-decoration: line;
          text-decoration: line;
  text-align: justify;
}

.aboutTop {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: TOP;
  height: 1.5rem;
  min-height: 100%;
  display: flex;
  padding: 1rem;
  gap: 2rem;
}
@media only screen and (max-width: 550px) {
  .aboutTop {
    display: none;
  }
}
.aboutFoot {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: FOOT;
  height: 8rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
}

.box, .boxGreen, .boxGold, .boxWhite, .boxRed {
  z-index: 1;
  top: 0;
  height: 2rem;
  width: 2rem;
}
.boxRed {
  background-color: red;
}
.boxWhite {
  background-color: white;
}
.boxGold {
  background-color: rgb(255, 184, 28);
}
.boxGreen {
  background-color: rgb(0, 119, 73);
}

.blogBg {
  background-image: url("../img/BLOG1.jpeg");
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  filter: brightness(85%) contrast(120%);
}
.blogSpot {
  font-size: 8rem;
  font-family: BEER02-A CROSS;
  color: rgb(218, 1, 102);
}
.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-family: Lymphatic;
  margin-top: 2rem;
  color: white;
}
@media only screen and (max-width: 550px) {
  .blogContainer {
    gap: 1rem;
  }
}
.blogCard {
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: 5vh 25vh;
  grid-template-columns: 30vw 45vw;
  gap: 2rem;
  border: 3px solid rgba(218, 1, 102, 0.75);
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (max-width: 550px) {
  .blogCard {
    grid-template-rows: 5vh 25vh 25vh;
    grid-template-columns: 80vw;
  }
}
.blogDisplay {
  grid-column: 1/2;
  grid-row: 1/-1;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: auto;
}
@media only screen and (max-width: 550px) {
  .blogDisplay {
    grid-column: 1/2;
    grid-row: 2/2;
  }
}
.blogTitle {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 2rem;
  padding: 0.5rem;
  text-underline-offset: 0.6rem;
  -webkit-text-decoration: underline rgba(218, 1, 102, 0.75) 0.5rem;
          text-decoration: underline rgba(218, 1, 102, 0.75) 0.5rem;
}
@media only screen and (max-width: 550px) {
  .blogTitle {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.blogText {
  padding: 0.5rem;
  font-size: 1.5rem;
  overflow: scroll;
}
@media only screen and (max-width: 550px) {
  .blogText {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.eventGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  border: 1px dotted red;
}
.eventBg {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-image: url("../img/DID/bg.jpg");
  background-size: cover;
}/*# sourceMappingURL=main.css.map */